<%- include("partials/header.ejs") %>

<div class="maincontent">

<h1>Isn't she pretty!</h1>
<!-- Your main content here -->


<img src="images/giorgia-whigham-ted.avif" width="500px" height="300px">

</div>
<%- include("partials/footer.ejs") %>